$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$navbar-background-color: rgba(79, 111, 185, 1);
$input-border-color: rgba(188, 189, 194, 1);
$input-group-bottom-margin: 1.5rem;

$default-color: rgba(70, 71, 74, 1);
$primary-color: rgba(0, 73, 207, 0.7);
$success-color: rgba(87, 175, 89, 0.9);
$secondary-color: rgba(122, 122, 122, 1);
$danger-color: rgb(255, 102, 102, 1);

$button-border: 0.125rem;
$button-border-radius: 0.4rem;

$mobile: 480px;
$tablet: 900px;
$desktop: 1200px;